In [1]:
import pandas as pd

In [ ]:
nba=pd.read_csv('../../data/Dahlin/per36min.csv',parse_dates=True, index_col=0)
print nba.shape
print nba

In [32]:
nba.describe()

,Age,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
count,651.000000,651.000000,651.000000,651.000000,651.000000,651.000000,649.000000,651.000000,651.000000,570.000000,...,626.000000,651.000000,651.000000,651.000000,651.000000,651.000000,651.000000,651.000000,651.000000,651.000000
mean,26.500768,45.960061,21.099846,1041.775730,5.035791,11.886329,0.427404,1.089094,3.405376,0.286454,...,0.722800,1.645776,4.568664,6.212596,3.050998,1.143779,0.682949,2.069432,3.411982,13.352535
std,4.110914,25.503151,25.932412,806.253103,1.812824,3.540223,0.100285,1.005854,2.794806,0.137568,...,0.154606,1.396157,2.228722,3.275310,2.192683,0.661935,0.853662,1.133532,1.587919,4.651882
min,19.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,23.000000,24.000000,0.000000,272.000000,4.000000,9.500000,0.389000,0.000000,0.600000,0.241500,...,0.650500,0.600000,3.100000,3.900000,1.600000,0.800000,0.200000,1.400000,2.500000,10.400000
50%,26.000000,48.000000,9.000000,896.000000,4.900000,11.600000,0.426000,1.000000,3.500000,0.322500,...,0.750000,1.200000,4.100000,5.300000,2.300000,1.100000,0.400000,1.900000,3.100000,12.900000
75%,29.000000,70.000000,35.000000,1674.000000,6.100000,14.200000,0.472000,1.800000,5.200000,0.367000,...,0.825000,2.500000,5.700000,8.300000,4.100000,1.400000,0.900000,2.500000,4.100000,16.000000
max,38.000000,83.000000,82.000000,2981.000000,18.000000,36.000000,1.000000,5.300000,18.700000,1.000000,...,1.000000,12.000000,24.000000,36.000000,12.200000,8.000000,12.000000,12.000000,18.000000,36.000000

In [33]:
defensive = nba [['Tm','TRB','AST','STL','BLK']]
defensive.head()

     Tm   TRB  AST  STL  BLK
Rk
1   NYK   8.4  1.9  0.8  0.6
2   MEM   4.1  2.3  2.3  1.0
3   OKC  10.6  1.3  0.8  1.7
4   MIN  12.9  2.5  0.7  1.5
5   TOT   3.6  1.9  0.6  0.1

In [36]:
defensive=nba.groupby('Tm')
print type(defensive)
print len(defensive)
by_Def=defensive.mean()
print type(by_Def)
print
print by_Def.head()

<class 'pandas.core.groupby.DataFrameGroupBy'>
31
<class 'pandas.core.frame.DataFrame'>

           Age          G         GS           MP        FG        FGA  \
Tm
ATL  27.000000  54.250000  25.625000  1233.250000  5.243750  11.856250
BOS  26.181818  39.863636  18.636364   903.636364  5.850000  12.931818
BRK  27.526316  46.842105  21.578947  1048.842105  4.921053  11.552632
CHI  28.285714  58.642857  29.285714  1420.071429  4.892857  11.521429
CHO  26.117647  49.941176  24.117647  1170.882353  5.258824  12.676471

          FG%        3P       3PA       3P%    ...           FT%       ORB  \
Tm                                             ...
ATL  0.442937  1.393750  3.943750  0.316125    ...      0.733625  1.450000
BOS  0.444727  1.209091  3.727273  0.316737    ...      0.695773  1.686364
BRK  0.413737  0.805263  2.710526  0.241588    ...      0.710368  1.663158
CHI  0.419000  1.085714  3.114286  0.327727    ...      0.722214  1.742857
CHO  0.419529  1.358824  3.870588  0.384857    ...      0.764471  1.523529

          DRB       TRB       AST       STL       BLK       TOV        PF  \
Tm
ATL  4.793750  6.243750  3.268750  1.381250  0.662500  1.781250  3.175000
BOS  4.959091  6.654545  3.627273  1.522727  0.586364  2.190909  3.040909
BRK  5.236842  6.894737  2.721053  1.068421  0.705263  1.994737  3.336842
CHI  4.585714  6.328571  2.671429  0.935714  0.771429  1.892857  3.042857
CHO  4.605882  6.111765  2.741176  0.800000  0.752941  1.676471  2.923529

           PTS
Tm
ATL  14.000000
BOS  15.113636
BRK  12.831579
CHI  13.207143
CHO  14.235294

[5 rows x 25 columns]

In [37]:
print nba.columns
nba=nba[['Tm','TRB','AST','STL','BLK']]
print nba

Index([u'Player', u'Pos', u'Age', u'Tm', u'G', u'GS', u'MP', u'FG', u'FGA',
       u'FG%', u'3P', u'3PA', u'3P%', u'2P', u'2PA', u'2P%', u'FT', u'FTA',
       u'FT%', u'ORB', u'DRB', u'TRB', u'AST', u'STL', u'BLK', u'TOV', u'PF',
       u'PTS'],
      dtype='object')
      Tm   TRB  AST  STL  BLK
Rk
1    NYK   8.4  1.9  0.8  0.6
2    MEM   4.1  2.3  2.3  1.0
3    OKC  10.6  1.3  0.8  1.7
4    MIN  12.9  2.5  0.7  1.5
5    TOT   3.6  1.9  0.6  0.1
5    DEN   3.7  2.1  0.7  0.1
5    POR   3.2  1.3  0.4  0.1
6    NOP  11.8  1.8  0.8  1.9
7    PHI  11.7  1.9  1.1  1.1
8    NYK  12.5  2.8  1.4  2.4
9    POR  10.4  1.8  0.7  1.0
10   IND  10.9  2.5  0.5  1.4
11   MEM   6.1  1.9  2.8  0.7
12   DAL   9.0  1.6  1.8  1.6
13   TOT  10.3  2.7  0.8  2.0
13   CLE   9.1  2.3  0.5  0.0
13   NYK  10.4  2.7  0.9  2.2
14   MIA   9.5  1.4  0.8  1.9
15   BRK   4.2  1.7  1.2  0.1
16   SAS   7.2  2.8  1.5  0.7
17   NOP   6.3  1.2  0.7  0.4
18   MIL   7.7  2.9  1.0  1.2
19   NYK   6.7  3.1  1.0  0.4
20   DET   8.2  0.4  1.1  4.3
21   ATL   6.6  1.7  0.6  0.5
22   HOU   5.6  2.6  1.9  0.2
23   DEN   6.2  2.1  1.7  0.9
24   NOP  13.6  1.3  0.5  1.0
25   TOT   3.0  6.5  0.9  0.1
25   DET   2.8  7.4  0.9  0.1
..   ...   ...  ...  ...  ...
476  SAC   5.0  1.2  0.8  0.1
477  TOT   2.4  3.6  1.2  0.0
477  UTA   2.6  3.4  1.7  0.0
477  NOP   2.3  3.7  0.9  0.0
478  TOR   2.7  2.9  1.6  0.2
479  CHO   6.8  1.8  1.2  0.6
480  TOT   3.2  7.7  0.8  0.3
480  MIN   3.1  8.2  0.9  0.3
480  CHO   3.3  7.1  0.7  0.3
481  SAS   5.8  3.4  0.3  0.0
482  TOT   5.5  1.5  0.8  0.7
482  MIA   5.4  1.4  0.8  0.7
482  DET   6.0  1.8  0.9  0.9
483  NOP   8.9  1.5  0.6  2.5
484  TOT   5.0  3.1  1.2  0.3
484  MIL   4.1  2.5  1.3  0.0
484  NOP   6.2  3.8  1.0  0.7
485  TOT   8.0  1.0  1.2  2.3
485  DAL   7.8  0.7  1.2  3.0
485  BOS   7.1  3.3  0.4  2.1
485  PHO   8.1  1.0  1.3  2.0
486  POR   6.8  2.5  1.2  0.7
487  PHI   3.5  6.3  1.9  0.3
488  BOS   4.6  1.4  0.9  0.2
489  LAL   3.5  1.5  0.8  0.4
490  TOT   6.1  2.6  1.8  0.4
490  MIN   5.5  3.0  1.9  0.4
490  BRK   7.2  1.7  1.7  0.3
491  CHO   8.8  2.4  0.8  1.2
492  BOS   9.7  2.4  0.4  1.1

[651 rows x 5 columns]

In [40]:
my_plot = defensive.plot.bar()
defensive2=defensive.set_index('Tm')
defensive2.head()

AttributeError: Cannot access callable attribute 'set_index' of 'DataFrameGroupBy' objects, try using the 'apply' method